---
import VideoSection from "@/components/VideoSection.astro";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/layouts/components/PageHeader.astro";
import Cta from "@/partials/Cta.astro";
import { getEntry } from "astro:content";

const explainingPain = await getEntry("explaining-pain", "index");
const { title, description } = explainingPain.data;
const { intro } = explainingPain.data;
---

<Base title={title} description={description}>
  <PageHeader title={title} />
  <VideoSection intro={intro} />
  <div class="h-20 py-12"></div>
  <Cta />
</Base>
