---
import PageHeader from "@/components/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import Cta from "@/partials/Cta.astro";

export async function getStaticPaths() {
  const treatments = await getSinglePage("treatments");
  const paths = treatments.map((post: any) => ({
    params: {
      single: post.slug,
    },
    props: { post },
  }));
  return paths;
}

const { post } = Astro.props;
const { Content } = await post.render();
const { title, image, description, intro } = post.data;
---

<Base title={title} description={description}>
  <PageHeader title={title} />
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-8">
          <div class="block md:flex md:items-center md:justify-between">
            <div class="text-lg pb-12">
             {intro}
            </div>
          </div>
          <div class="block md:flex md:items-center md:justify-between">
            <div class="content mt-6 border-t pt-12 columns-2">
              <Content />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Cta />
</Base>